[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group Ocean Observatories Owners
	owner = group user/Pete Cable (petercable)
[access "refs/for/refs/*"]
	read = group user/Pete Cable (petercable)
	push = group user/Pete Cable (petercable)
	label-Code-Review = -2..+2 group user/Pete Cable (petercable)
	label-Verified = -1..+1 group user/Pete Cable (petercable)
	rebase = group user/Pete Cable (petercable)
	removeReviewer = group user/Pete Cable (petercable)
	submit = group user/Pete Cable (petercable)
[access "refs/heads/*"]
	read = group user/Pete Cable (petercable)
	create = group user/Pete Cable (petercable)
	push = +force group user/Pete Cable (petercable)
	pushMerge = group user/Pete Cable (petercable)
	label-Code-Review = -2..+2 group Instrument Approvers
	label-Verified = -1..+1 group Instrument Approvers
	label-Verified = -1..+1 group Ocean Observatories Reviewers
	rebase = group Instrument Approvers
	submit = group Instrument Approvers
[access "refs/tags/*"]
	push = +force group user/Pete Cable (petercable)
	pushTag = group user/Pete Cable (petercable)
	pushSignedTag = group user/Pete Cable (petercable)
