PyYAML
apscheduler==2.1.0
bs4
click
docopt
flask
kombu
librabbitmq
mock
modestimage
msgpack-python
nose>=1.3.7
ntplib>=0.1.9
numpy>=1.12
obspy
ooi_port_agent
pandas
psycopg2
python-consul
pyyaml
pyzmq
qpid-python
tqdm
xarray
